/* ImageDisplay.css */

.image-display {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 2em;
  margin-bottom: 10px;
  text-align: center;
}

.post-info {
  font-size: 0.8em;
  color: #888;
  margin-bottom: 20px;
  text-align: center;
}

.author, .date {
  margin-right: 15px;
}

.content {
  font-size: 1em;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  max-width: 95%;
  max-height: 500px;
  object-fit: cover;
  margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
  .title {
    font-size: 1.5em;
  }

  .post-info {
    font-size: 0.7em;
  }

  .content {
    font-size: 0.9em;
  }
}
