.trees-container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px 0;
  scroll-snap-type: x mandatory;
}

.tree {
  flex: 0 0 100vw; /* 화면 너비에 맞춰 크기 조정 */
  margin: 10px;
  cursor: pointer;
  scroll-snap-align: start;
  display: flex; /* Flex 레이아웃 사용 */
  justify-content: center; /* 중앙 정렬 */
  align-items: center; /* 중앙 정렬 */
  position: relative; /* 상대적 위치 설정 */
}

.tree img {
  max-width: 80%; /* 이미지 크기를 늘림 */
  height: auto;
  max-height: 80vh; /* 뷰포트 높이의 80%를 최대 높이로 설정 */
}

.tree p {
  margin: 0;
  font-size: 14px;
}

.tree-name {
  position: absolute; /* 절대적 위치 설정 */
  top: 10%; /* 이미지 위쪽에서부터의 위치 */
  left: 50%; /* 왼쪽에서부터 50%의 위치 */
  transform: translate(-50%, -50%); /* 중앙 정렬 */
  color: white; /* 글자 색상 */
  font-size: 1.5em; /* 크기 조정 */
  text-align: center; /* 텍스트 중앙 정렬 */
  z-index: 10; /* 다른 요소 위에 오도록 z-index 설정 */
}

.nick-image {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75px; /* 너비 조정 */
  height: 75px; /* 높이 조정 */
  /* z-index: 10; */
}

.tree .star-container {
  position: absolute;
  top: 20%; /* 이미지 상단에 위치 */
  left: 51%; /* 이미지 가운데에 위치 */
  transform: translateX(-50%); /* 가로 중앙 정렬 */
  display: flex; /* 별들을 가로로 나열 */
  flex-wrap: wrap; /* 줄바꿈 허용 */
  align-items: center; /* 세로 중앙 정렬 */
  max-width: 180px; /* 최대 너비 설정 */
}

.tree .star {
  margin-right: 10px; /* 별 사이의 간격 */
  width: 45px; /* 이미지 너비 */
  height: 45px; /* 이미지 높이 */
}

/* 모바일 화면을 위한 미디어 쿼리 */
@media screen and (max-width: 600px) {

  .tree-name {
    font-size: 1em; /* 글씨 크기를 줄임 */
  }

  .nick-image {
    width: 65px; /* 너비 조정 */
    height: 65px; /* 높이 조정 */
  }

  .tree .star-container {
    position: absolute;
    top: 20%; /* 이미지 상단에 위치 */
    left: 52%; /* 이미지 가운데에 위치 */
    transform: translateX(-50%); /* 가로 중앙 정렬 */
    display: flex; /* 별들을 가로로 나열 */
    flex-wrap: wrap; /* 줄바꿈 허용 */
    align-items: center; /* 세로 중앙 정렬 */
    max-width: 150px; /* 최대 너비 설정 */
  }
  
  .tree .star {
    margin-right: 10px; /* 별 사이의 간격 */
    width: 35px; /* 이미지 너비 */
    height: 35px; /* 이미지 높이 */
  }
}

