.home-page {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
  }
  
  .title {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  .post-info {
    font-size: 0.8em;
    color: #888;
    margin-bottom: 20px;
  }
  
  .author, .date {
    margin-right: 15px;
  }
  
  .content {
    font-size: 1em;
  }
  
  .actions {
    margin-top: 20px;
  }
  
  .carousel {
    /* 이미지 카우셀을 위한 CSS */
    order: 1;
  }
  
  .text-content {
    /* 글과 제목을 위한 CSS */
    order: 2;
  }

  .carousel img {
    max-width: 100%;  /* 최대 너비를 부모 요소에 맞춤 */
    max-height: 500px;  /* 최대 높이를 400px로 제한 */
    object-fit: cover;  /* 이미지 비율을 유지하면서 채움 */
  }
  
  